<!-- <div>
  <label for="countryDropdown">Select Country:</label>
  <select id="countryDropdown" [(ngModel)]="selectedCountry" (change)="onCountryChange()">
    <option value="">Select a country</option>
    <option *ngFor="let country of countries" [value]="country.isoCode">{{country.name}}</option>
  </select>
</div>

<div *ngIf="selectedCountry">
  <label for="stateDropdown">Select State:</label>
  <select id="stateDropdown" [(ngModel)]="selectedState" (change)="onStateChange()">
    <option value="">Select a state</option>
    <!-- You can populate the state dropdown based on the selected country -->
    <!-- For example: <option *ngFor="let state of selectedCountry.states" [value]="state.stateCode">{{state.name}}</option> -->
  <!--</select>
</div>

<div id="chartContainer" style="height: 600px;"></div> -->

<div class="container">
  <select [(ngModel)]="selectedCountry" (change)="onCountryChange()">
    <option value="">Select a country</option>
    <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
  </select>
</div>


<div class="container" #chartContainer></div>
